div.apexcharts-legend.apx-legend-position-right {
   right: 30px !important;
   @media (min-width: 1401px) and (max-width: 1600px) {
		right: 15px !important;
	}
}
.cashier-dashboard-piechart {
   .apexcharts-legend-series {
      margin-left: 0px !important;
   }
   .apexcharts-canvas {
      width: 100% !important;
   }
}
// chart
#chart {
   .apexcharts-legend-marker {
       margin-right: 10px !important;
       border: none !important;
       height: 15px !important;
       width: 30px !important;
       border-radius: 3px !important;
   }
   .apexcharts-legend-text {
       font-size: 14px !important;
       color: var(--clr-body-heading) !important;
       font-weight: 600 !important;
       font-family: 'Nunito Sans', sans-serif !important;
   }
   .apexcharts-legend-series {
       display: inline-flex !important;
       margin-left: 20px !important;
   }
   .apexcharts-legend {
       left: auto !important;
       right: 15px !important;
       top: 0px !important;
       display: inline-flex !important;
       padding: 0 5px !important;
   }
   .apexcharts-title-text {
       font-size: 18px !important;
       font-weight: 700 !important;
       line-height: 1 !important;
       color: var(--clr-body-heading) !important;
       transform: translateX(12px) !important;
       font-family: 'Nunito Sans', sans-serif !important;
   }
}
@media(max-width: 412px) {
   #chart{
       .apexcharts-legend {
           left: 0!important;
           right: auto!important;
           margin: 10px 0!important;
           top: 13px!important;
       }
   }
}

#chartPie {
   .apexcharts-legend-marker {
       margin-right: 10px !important;
       border: none !important;
       height: 15px !important;
       width: 30px !important;
       border-radius: 3px !important;
   }
   .apexcharts-legend-text {
       font-size: 14px !important;
       color: var(--clr-body-heading) !important;
       font-weight: 600 !important;
       font-family: 'Nunito Sans', sans-serif !important;
   }
   .apexcharts-legend-series {
       display: inline-flex !important;
       margin-left: 20px !important;
   }
   .apexcharts-legend {
       left: auto !important;
       right: 15px !important;
       top: 0px !important;
       display: inline-flex !important;
       padding: 0 5px !important;
   }
   .apexcharts-title-text {
       font-size: 18px !important;
       font-weight: 700 !important;
       line-height: 1 !important;
       color: var(--clr-body-heading) !important;
       transform: translateX(12px) !important;
       font-family: 'Nunito Sans', sans-serif !important;
   }
}

// chartBar
#chartBar {
   .apexcharts-legend {
       top: 0px !important;
       display: inline-flex !important;
       padding: 0 5px !important;
   }
   .apexcharts-legend-marker {
       margin-right: 10px !important;
       border: none !important;
       height: 15px !important;
       width: 30px !important;
       border-radius: 3px !important;
   }
   .apexcharts-legend-text {
       font-size: 14px !important;
       color: var(--clr-body-heading) !important;
       font-weight: 600 !important;
       font-family: 'Nunito Sans', sans-serif !important;
   }
   .apexcharts-legend-series {
       display: inline-flex !important;
       margin-left: 20px !important;
   }
}
@media(max-width: 576px) {
   #chartBar {
           width:100%;
       .apexcharts-legend {
           left: 0!important;
           right: auto!important;
           margin: 10px 0!important;
           top: 13px!important;
       }
   }
}

// chartPie
#chartPie {
   .apexcharts-legend {
      @media (max-width: 2200px) {
         flex-direction: column !important;
      }
   }
   .apexcharts-legend {
    top: auto !important;
    bottom: 0 !important;
    left: 0 !important;
      display: inline-flex !important;
      padding: 0 5px !important;
  }
  .apexcharts-legend-marker {
      margin-right: 10px !important;
      border: none !important;
      height: 15px !important;
      width: 30px !important;
      border-radius: 3px !important;
  }
  .apexcharts-legend-text {
      font-size: 14px !important;
      color: var(--clr-body-heading) !important;
      font-weight: 600 !important;
      font-family: 'Nunito Sans', sans-serif !important;
  }
  .apexcharts-legend-series {
      display: inline-flex !important;
      margin-left: 20px !important;
  }
}